<h2><%= @zoning_case.applicant %></h2>

<div class="row">
  <div class="col-md-6">
    <table class="table">
      <tr>
        <th>Type</th>
        <td><%= @zoning_case.type.titleize %></td>
      </tr>
      <tr>
        <th>Case number</th>
        <td><%= @zoning_case.number %></td>
      </tr>
      <tr>
        <th>Status</th>
        <td><%= @zoning_case.status %></td>
      </tr>
      <% if @zoning_case.anc %>
        <tr>
          <th>ANC</th>
          <td><%= link_to @zoning_case.anc.name, @zoning_case.anc %></td>
        </tr>
        <tr>
          <th>Ward</th>
          <td><%= link_to @zoning_case.ward.id, @zoning_case.ward %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-6">
    <div id="map"
      data-geojson-url="<%= zoning_case_url(@zoning_case, :format => :geojson) %>"
      data-lon="<%= @zoning_case.location.lng %>"
      data-lat="<%= @zoning_case.location.lat %>"
    ></div>
    <div class="address">
      <%= @zoning_case.address %>
    </div>
  </div>
</div>

<h3>Description</h3>
<p><%= @zoning_case.body %></p>
